:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #452e3f;
  --main-color: #452e3f;
  --secondary-color: #4a5786;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

}

.slidev-layout.cover {
	background-color: var(--main-color);
}

.title-card {
	position: absolute;
	width: 100%;
	left:0px;
	bottom: 5vh;
	font-size: 14px;
}

.inside-text {
	line-height: 0.5px !important;
}

.bottom-title-card{
	background: black;
	width:100%;
	height:4vh;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.top-title-card{
	background: black;
	width:100%;
	height:4vh;
	position: absolute;
	top: 0px;
	left: 0px;
}

.slidev-layout.default{
  p {
  	color: var(--main-color);
  }
  li {
  	color: var(--main-color);
  	margin-bottom: 30px;
  }
}
